#topPanel{
    -fx-background-color: #1398AB;
}

#labelApp{
    -fx-text-fill: #fff;
}

#leftPanel{
    -fx-background-color: #03040a;
}

#leftPanel .label{
    -fx-text-fill: #fff;
}

#oneDownloadButton{
    -fx-background-color: #1398AB;
}

#allDownloadButton{
    -fx-background-color: #1398AB;
}

#listView{
    -fx-alignment: justify;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 14px;
}

#infosText{
    -fx-background-color: #fff;
    -fx-alignment: justify;
    -fx-padding: 20px;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 14px;
}