#deleteButton{
    -fx-text-fill: #fff;
    -fx-background-color: #d1154a;
}

#downloadButton{
    -fx-text-fill: #fff;
    -fx-background-color: #1398AB;
}

#listView .item{
    -fx-alignment: justify;
}